<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="icon" type="image/png" href="https://spring.io/favicon.ico">
  <meta charset="UTF-8"/>
  <title>Welcome back</title>
  <style>

body {
    background-color: #000000;
}

.outer {
  width:100%;
  text-align: center;
}

  </style>
</head>
<body>
<div class="outer">
  <font color="#FFFFFF" size="+3">
<h1>Welcome back, <span th:text="*{principal}"></span> !</h1>
    </font>
</div>


<div>
  <table cellpadding="1" border="1" width="30%">
    <tr>
      <th width="100%">ID</th>
      <th width="100%">NAME</th>
      <th width="100%">AGE</th>
      <th width="100%">SUBJECTS</th>
    </tr>
    <tr th:each="student : ${students}">
      <td th:utext="${student.id}">...</td>
      <td th:utext="${student.name}">...</td>
      <td th:utext="${student.age}">...</td>
      <td th:utext="${student.subjects}">...</td>


    </tr>
  </table>
</div>
</body>
</html>